@page
@model CajunCars.Pages.Vehicles.EditModel

@{
    ViewData["Title"] = "Edit";
}

@{
    Layout = null;
}


<!DOCTYPE HTML>
<!--
Solid State by HTML5 UP
html5up.net 
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="/assets/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">

    <h4>StoredVehicle</h4>


    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="StoredVehicle.Vin"/>
                <p>Enter New DealershipID to transfer Vehicle</p>

                <div class="form-group">
                    <label asp-for="StoredVehicle.DId" class="control-label"></label>
                    <input asp-for="StoredVehicle.DId" class="form-control"/>
                    <span asp-validation-for="StoredVehicle.DId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StoredVehicle.Make" class="control-label"></label>
                    <input asp-for="StoredVehicle.Make" class="form-control"/>
                    <span asp-validation-for="StoredVehicle.Make" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StoredVehicle.Model" class="control-label"></label>
                    <input asp-for="StoredVehicle.Model" class="form-control"/>
                    <span asp-validation-for="StoredVehicle.Model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StoredVehicle.Type" class="control-label"></label>
                    <input asp-for="StoredVehicle.Type" class="form-control"/>
                    <span asp-validation-for="StoredVehicle.Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StoredVehicle.Color" class="control-label"></label>
                    <input asp-for="StoredVehicle.Color" class="form-control"/>
                    <span asp-validation-for="StoredVehicle.Color" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StoredVehicle.Hp" class="control-label"></label>
                    <input asp-for="StoredVehicle.Hp" class="form-control"/>
                    <span asp-validation-for="StoredVehicle.Hp" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StoredVehicle.Price" class="control-label"></label>
                    <input asp-for="StoredVehicle.Price" class="form-control"/>
                    <span asp-validation-for="StoredVehicle.Price" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input type="submit" value="Transfer" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="button primary" asp-page="./Index">Back to List</a>
    </div>


    @*
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@

</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>